{% load static %}
{% load car_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link type="text/css" href="{% static 'women/css/ind.css' %}" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>

    <!-- header -->
    <header>
      <nav class = "navbar">
        <div class = "container">
         <a href="{% url 'home' %}" class="navbar-brand">CARS</a></li>
          <div class = "navbar-nav">
            <a href = "{% url 'about' %}">novelties</a>
            <a href = "{% url 'contact' %}">contact</a>
              <a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a>
          </div>
           <i class='bx bx-search' id="search-icon"></i>
            <div class="search-box container">
                <input type="search" name="" id="" placeholder="Search here...">
            </div>
        </div>
      </nav>
        <div class="row">
            <div class="col">
                <h1>Grandeur</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, dignissimos ex expedita magni modi molestiae nesciunt numquam quae voluptatem voluptatum! A ab accusamus adipisci assumenda commodi dolore ducimus hic illum incidunt obcaecati, perferendis placeat possimus quibusdam repudiandae, saepe sed tempore.</p>
                <button type="button">Explore</button>
            </div>
            <div class="col">
                <div class="card card1">
                    <h5>bmw 7 series </h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                 <div class="card card2">
                    <h5>Kia K8</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>

                 <div class="card card3">
                    <h5>Toyota Land Cruiser</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                 <div class="card card4">
                    <h5>Mitsubishi Outlander</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                 <div class="card card5">
                    <h5>Nissan Pathfinder</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                 </div>
                <div class="card card6">
                    <h5>Mercedes-Benz CLS</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                 </div>
            </div>
        </header>
    <!-- end of header -->

    <!-- section home -->
    <section class="home" id="home">
        <h1 class="home-parallax" data-speed="-2">Найди свою машину</h1>
        <img class="home-parallax" data-speed="5" src="{% static 'women/images/home.jpg' %}">
    </section>

    <!-- section home -->

    <!-- footer -->
    <section class="footer">
        <div class="footer-container container">
            <div class="footer-box">
                <a href="#" class="logot">Car<span>Point</span></a>
                <div class="social">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-github'></i></a>
                </div>
            </div>
            <div class="footer-box">
                <h3>Page</h3>
                <a href="#">Home</a>
                <a href="#">Cars</a>
                <a href="#">Parts</a>
                <a href="#">Sales</a>
            </div>
            <div class="footer-box">
                <h3>Legal</h3>
                <a href="#">Privacy</a>
                <a href="#">Refund Policy</a>
                <a href="#">Cookie Policy</a>
            </div>
            <div class="footer-box">
                <h3>Contact</h3>
                <p>Germany</p>
                <p>South Korea</p>
                <p>Japan</p>
            </div>
        </div>
    </section>
    <!-- Copyright -->
    <div class="copyright">
        <p>&#169; All Right Reserved</p>
    </div>
    <!-- Copyright -->
  </footer>

<script>
    document.querySelector('.home').onmousemove = (e) =>{

    document.querySelectorAll('.home-parallax').forEach(elm =>{

        let speed = elm.getAttribute('data-speed');

        let x = (window.innerWidth - e.pageX * speed) / 90;
        let y = (window.innerHeight - e.pageY * speed) / 90;

        elm.style.transform = `translateX(${y}px) translateY(${x}px)`;

    });

}

    <!-- Для поиска -->
    let search = document.querySelector('.search-box');

    document.querySelector('#search-icon').onclick = () => {
        search.classList.toggle('active');
    }
</script>
  </body>
</html>