@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #3c393d;
    --exDark: #2b2b2b;
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--Quicksand);
}
body{
    line-height: 1.4;
    color: var(--dark);
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

/* header */
header{
    min-height: 100vh;
/*/background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));/*/
    background-image: url("../images/grandeur.png");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
    margin-left: 100px;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #ffffff;
    font-size: 100px;
}
p{
    color: #ffffff;
    font-size: 11px;
    line-height: 15px;
}
button{
    width: 180px;
    color: #000000;
    font-size: 12px;
    padding: 12px 0;
    background: #ffffff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-table;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url("../images/grandeur.png");
    background-position: center;
    background-size: cover;
    transition: transition 0.5s;
}
.card1{
     background-image: url("../images/bmw7.jpg");
}
.card2{
     background-image: url("../images/k8.jpg");
}
.card3{
     background-image: url("../images/tayota.jpg");
}
.card4{
     background-image: url("../images/outlander.jpg");
}
.card5{
     background-image: url("../images/pathfinder.jpg");
}
.card6{
     background-image: url("../images/cls.jpg");
}
.card:hover{
    transform: translateY(-10px);
}
.navbar{
    background: rgba(0, 0, 0, 0.6);
    padding: 1.2rem;
}
.navbar-brand{
    color: #fff;
    font-size: 2rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: var(--Playfair);
    letter-spacing: 1px;
}
.navbar-nav{
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
}
.navbar-nav a{
    text-transform: uppercase;
    font-family: var(--Roboto);
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
}
.navbar-nav a:hover{
    opacity: 0.7;
}
#search-icon{
    font-size: 24px;
    cursor: pointer;
}
.search-box{
    top: 110%;
    right: 0;
    left: 0;
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    border: 1px solid silver;
    background: white;
    border-radius: 0.5rem;
}
.search-box active{
    clip-path: circle(144% at 100% 0%);
}
.search-box input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}
section{
    padding: 2rem 9%;
}
.home{
    padding-top: 10rem;
    text-align: center;
    overflow-x: hidden;
}
.home h1{
    font-size: 7.5vw;
    text-transform: uppercase;
    color: black;
}
.home img{
    width: 100%;
    margin: 1rem 0;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: .5rem;
    background: yellow;
    color: black;
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: .8rem 3rem;
}
@media(max-width:991px){
    section{
    padding: 2rem;
    }
}
.footer{
    background: black;
    color: white;
    border-top: 2px solid silver;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.footer-container .logot{
    color: white;
    margin-bottom: 1rem;

}
.footer-container .footer-box{
    display: flex;
    flex-direction: column;
}
.social{
    display: flex;
    align-items: center;
}
.social a{
    font-size: 24px;
    color: white;
    margin-right: 1rem;
}
.social a:hover{
    color: red;
}
.footer-box h3{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.footer-box a,
.footer-box p{
    color: gray;
    margin-bottom: 10px;
}
.footer-box a:hover{
    color: red;
}
.copyright{
    padding: 20px;
    text-align: center;
    color: white;
    background: black;
}