#header, .module caption {
    background: black;
}
#main{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcU9aMimrvyqVpQ4UBzE3Xq3E3wjZ63cC9bQ&usqp=CAU");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}